<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style>
		
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">布卷信息</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" > 
					<div class="mui-input-row">
					<label>条码</label>
					<input type="text" class="mui-input-clear" name="juanhao" id="juanhao" value=""/>
				</div>
				</li>
				
				<li class="mui-table-view-cell" >单号：<span id="orderCode"></span> </li>
				<li class="mui-table-view-cell" >缸号： <span id="ganghao"></span></li>
				<li class="mui-table-view-cell" >编码：<span id="productId"></span></li>
				<li class="mui-table-view-cell" >色号： <span id="color"></span></li>
				<li class="mui-table-view-cell" >品名：<span id="proName"></span></li>
				<li class="mui-table-view-cell" >磨绒：<span id="milling"></span></li>
				<li class="mui-table-view-cell" >克重：<span id="kezhong"></span></li>
				<li class="mui-table-view-cell" >门幅：<span id="menfu"></span></li>
				<li class="mui-table-view-cell" >检验日期：<span id="checkTime"></span> </li>
			</ul>
		</div>
		<script src="../config.js"></script>
		<script src="../js/mui.js"></script>
		<script src="../js/app.js"></script>
		<script>
			mui.init();
			document.getElementById('juanhao').addEventListener('keypress',function(e){
	        	if(e.keyCode==13){
	        		var juanhao=this.value.substr(0,this.value.length-1);
					var juanArr=juanhao.split(',');
					var len=juanArr.length;
					var result=juanArr[len-1];
					console.log(result);
					this.value=result+',';
					var data=getClothInfo(result);
					if(data){
						doCodeData(data);
						document.activeElement.blur();
					}
	        	}
		    });
			
			function doCodeData(data){
				document.getElementById('orderCode').innerHTML=data.orderCode;
				document.getElementById('ganghao').innerHTML=data.c5;
				document.getElementById('color').innerHTML=data.color;
				document.getElementById('productId').innerHTML=data.productId;
				document.getElementById('checkTime').innerHTML=data.checkTime;
				document.getElementById('proName').innerHTML=data.proName;
				document.getElementById('milling').innerHTML=data.milling;
				document.getElementById('menfu').innerHTML=data.menfu;
				document.getElementById('kezhong').innerHTML=data.kezhong;
			}
		</script>
	</body>

</html>