<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" href="../css/selectKuwei.css" />
		<style>
			ul {
				font-size: 14px;
				color: #8f8f94;
			}
			.mui-checkbox.mui-left input[type=checkbox]{
				left: 0px; 
			}
			.mui-checkbox.mui-left label{
				padding: 0 0.3rem 0 2rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">销售出库--按缸</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
			    <div class="mui-input-row">
			        <label>出库日期</label>
			    	<input type="date" class="mui-input-clear" name="chukuDate" id="chukuDate">
			    </div>
			    <div class="mui-input-row">
			        <label>仓库类别</label>
			        <input type="text" class="mui-input-clear" id="cangkuId"  placeholder="请选择仓库">
			        <input type="hidden"  id="kuweiId" name="kuweiId" value="">
			    </div>
			     <div class="mui-input-row">
					<label>收货地址</label>
					<input type="text" class="mui-input-clear" id="shippings"  readonly="readonly">
					<input type="hidden" class="mui-input-clear" id="shipping">
				</div>
				<div class="mui-input-row">
					<label>区域选择</label>
					<input type="text" class="mui-input-clear" id="ship_areas"  readonly="readonly">
					<input type="hidden" class="mui-input-clear" id="ship_area">
				</div>
			    <div class="mui-input-row">
					<label>物流公司</label>
					<input type="text" class="mui-input-clear" id="corp_names"  readonly="readonly">
					<input type="hidden" class="mui-input-clear" id="corp_name">
				</div>
				<div class="mui-input-row">
					<label>物流单号</label>
					<input type="text" class="mui-input-clear" id="logi_no" >
				</div>
				
			     <div class="mui-input-row">
			        <label>产品编码</label>
			        <input type="text" class="mui-input-clear" id="productId"  readonly="readonly">
			        <input type="hidden" name="ganghao" id="ganghao" value=""/>
			    </div>
			    <div class="mui-input-row">
			    	<label>备注</label>
			    	<input type="text" class="mui-input-clear" name="memo" id="memo">
			    	<input type="text" class="mui-input-clear"  id="orderId" value="">
			    	<input type="text" class="mui-input-clear"  id="clientId" value="">
			    	<input type="text" class="mui-input-clear"  id="ganghao" value="">
			    </div>
			    <div class="mui-input-row">
					<label>条码</label>
					<input type="text" class="mui-input-clear" name="juanhao" id="juanhao" value=""/>
					
				</div>
			     <div class="mui-input-row mui-checkbox" id="checkAll">
			    	<label for="">出库信息　　　    　　　　全选</label>
			    	<input name="select_all" value="" type="checkbox" >
			    </div>
			    <div id="chukuData">
			    	<ul class="mui-table-view">
						
					</ul>
			    </div>
			   <div class="mui-input-row1">
					<div class="sumInfo">
						入库重量 <span id="cangkuWeight">0</span> ,入库长度 <span id="cagnkulength">0</span> ,卷数  <span id="cangkujuan">0</span>
					</div>
			    </div>
			    <div class="mui-button-row">
			        <button type="button" class="mui-btn mui-btn-primary" id="submit" >确认出库</button>
			    </div>
			</form>
			<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
			    <!-- 可选择菜单 -->
			    <ul class="mui-table-view-tip">
			    
			    </ul>
			</div>
		</div>
		<script src="../config.js"></script>
		<script src="../js/mui.js"></script>
		<script type="text/javascript" src="../js/mui.picker.js"></script>
		<script type="text/javascript" src="../js/mui.poppicker.js"></script>
		<script type="text/javascript" src="../js/jquery.1.9.1.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript">
			mui.init();
			var picker = new mui.PopPicker();
			var table = document.body.querySelector('.mui-table-view');
			mui(".mui-table-view").on('tap','.mui-table-view-cell',function(){
				setTimeout(function(){
					calSum();
				},300);
			});
			document.getElementById('checkAll').addEventListener('tap',function(e){
				var select_all=this.parentNode.select_all;
				var handle=table.getElementsByTagName('input');
				if(select_all.checked){
					//全不选
					for (var i=0;i<handle.length;i++) {
						if(handle[i].checked){
							handle[i].checked=false;
						}
					}
				}else{
					//全选
					for (var i=0;i<handle.length;i++) {
						if(!handle[i].checked){
							handle[i].checked=true;
						}
					}
				}
				setTimeout(function(){
					calSum();
				},300);
			});
	      	document.querySelector("#corp_names").addEventListener("tap",function(){
				picker.setData(getDelComp());
		  		picker.show(function(items){
	            	document.getElementById('corp_names').value=items[0].value;
	            	document.getElementById('corp_name').value=items[0].id;
	          	});
	      	});
	      	document.querySelector("#ship_areas").addEventListener("tap",function(){
				picker.setData(getShipArea());
		  		picker.show(function(items){
	            	document.getElementById('ship_areas').value=items[0].value;
	            	document.getElementById('ship_area').value=items[0].id;
	          	});
	      	});
	      	document.querySelector("#shippings").addEventListener("tap",function(){
	      		var orderId=document.getElementById('orderId').value;
				picker.setData(getDelAddress(orderId));
		  		picker.show(function(items){
	            	document.getElementById('shippings').value=items[0].value;
	            	document.getElementById('shipping').value=items[0].id;
	          	});
	      	});
	       document.getElementById('juanhao').addEventListener('keypress',function(e){
	        	if(e.keyCode==13){
	        		var juanhao=this.value.substr(0,this.value.length-1);
					var juanArr=juanhao.split(',');
					var len=juanArr.length;
					var result=juanArr[len-1];
					juanArr.pop();
					var index=$.inArray(result,juanArr);
					if(index>=0){
						mui.alert('该布卷已扫描');
						this.value=juanArr.join(',')+',';
						return ;
					}
					var data=getMlDataChuByGang(result);
					if(data){
						doCodeData(data);
					}
	        	}
		    });
	        document.querySelector("#submit").addEventListener("tap",function(){
	         	var chukuDate=document.getElementById('chukuDate').value;
	         	var kuweiId=document.getElementById('kuweiId').value;
	         	var shipping=document.getElementById('shipping').value;
	         	var corp_name=document.getElementById('corp_name').value;
	         	var logi_no=document.getElementById('logi_no').value;
	         	var ship_area=document.getElementById('ship_area').value;
	         	var productId=document.getElementById('productId').value;
	         	var clientId=document.getElementById('clientId').value;
	         	var li=table.getElementsByTagName('input');
				var madanIdArr=[];
				for (var i=0;i<li.length;i++) {
					if(li[i].checked){
						madanIdArr.push(li[i].value);
					}
				}
				var madanId=madanIdArr.join(',');
	         	var memo=document.getElementById('memo').value;
	         	var orderId=document.getElementById('orderId').value;
	         	var submitinfo={chukuDate:chukuDate,kuweiId:kuweiId,shipping:shipping,madanId:madanId,corp_name:corp_name,logi_no:logi_no,ship_area:ship_area,productId:productId,clientId:clientId,memo:memo,orderId:orderId};
	         	XsCkSaveByGang(submitinfo, function(err) {
					if (err) {
						plus.nativeUI.toast(err);
						return;
					}
				});
	         });
			mui.plusReady(function(){
//				initMe();
				var productId = plus.webview.currentWebview().productId;
				var orderId = plus.webview.currentWebview().orderId;
				var clientId = plus.webview.currentWebview().clientId;
				document.getElementById('orderId').value=orderId;
				document.getElementById('productId').value=productId;
				document.getElementById('clientId').value=clientId;
				initdate('chukuDate');
				selectCangku();
				showPopOver();
			});
			function doCodeData(data){
				var product=document.getElementById('productId').value;
				mui.each(data, function(index, item) {
					var productId=item.productId;
					if(!index){
						var result=item.ganghao;
						var ganghao=document.getElementById('ganghao').value;
						var gangArr=ganghao.split(',');
						var isset=$.inArray(result,gangArr);
						if(isset>=0){
							mui.alert('该缸号已扫描');
							return false;
						}
						document.getElementById('ganghao').value=ganghao+result+',';
					}
					if(productId !=product) return true;
					var str = '';
					str += '<div class="mui-checkbox mui-left">';
					str += '<label class="label_class">缸号:'+item.ganghao+',卷号:'+item.rollNo+',长度：<span class="length">'+item.cntL+'</span>，重量：<span class="weight">'+item.cnt+'</span></label>';
					str +='<input name="select_juan" value="'+item.id+'" type="checkbox" ></div>';
					var li = document.createElement('li');
					li.className = 'mui-table-view-cell';
					li.id=item.id;
					li.innerHTML = str;
					table.appendChild(li);
				});
				calSum();
			}
			function calSum(){
				var handle=table.getElementsByTagName('input');
				var sumlength=0;
				var sumweight=0;
				var sumjuan=0;
				for (var i=0;i<handle.length;i++) {
					if(handle[i].checked){
						sumjuan++;
						var prevNode=handle[i].parentNode;
						var lilength=prevNode.getElementsByClassName('length')[0].innerHTML;
						sumlength=parseFloat(lilength)+sumlength;
						var liweight=prevNode.getElementsByClassName('weight')[0].innerHTML;
						sumweight=parseFloat(liweight)+sumweight;
					}
				}
				if(sumjuan==handle.length){
					document.getElementsByName('select_all')[0].checked=true;
				}else{
					document.getElementsByName('select_all')[0].checked=false;
				}
				document.getElementById('cangkuWeight').innerHTML=sumweight.toFixed(2);
				document.getElementById('cagnkulength').innerHTML=sumlength.toFixed(2);
				document.getElementById('cangkujuan').innerHTML=sumjuan;
			}
		</script>
		
	</body>

</html>