<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style>
			ul {
				font-size: 14px;
				color: #8f8f94;
			}
			.rukumingxi{
				margin: 1rem 0 1rem 0.9rem;
			}
			.mui-checkbox.mui-left input[type=checkbox]{
				left: 0px; 
			}
			.mui-checkbox.mui-left label{
				padding: 0 0.3rem 0 2rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">库存盘点</h1>
			<button class=" mui-pull-right mui-btn-link"><span class="mui-icon mui-icon-redo"></span></button>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
			    
				<!--<div class="mui-input-row">
					<label>备注</label>
					<input type="hidden" name="ganghao" id="ganghao" value=""/>
					<input type="text" class="mui-input-clear" name="memo" id="memo">
				</div>-->
				<div class="mui-input-row">
					<label>库位条码</label>
					<input type="text" class="mui-input-clear" name="juanhao" id="juanhao" value=""/>
				</div>
				<div class="mui-input-row">
					<label>库位</label>
					<input type="text" class="mui-input-clear" name="kuweiName" id="kuweiName" value="" readonly="readonly"/>
				</div>
			    <div class="mui-input-row">
			    	<label>布卷信息</label>
			    </div>
				<div id="rukuData">
					<ul class="mui-table-view">
						
					</ul>
				</div>
				<div class="mui-input-row1">
					<div class="sumInfo">
						<!--重量 <span id="cangkuWeight">0</span> ,
						长度 <span id="cagnkulength">0</span> ,-->
						卷数  <span id="cangkujuan">0</span>
					</div>
			    </div>
			    <div class="mui-button-row">
			        <button type="button" class="mui-btn mui-btn-primary" id="submit">盘点</button>
			    </div>
			</form>
		</div>
		<script src="../config.js"></script>
		<script src="../js/mui.js"></script>
		<script type="text/javascript" src="../js/jquery.1.9.1.js"></script>
		<script src="../js/app.js"></script>
		<script>
			mui.init();
			
			var table = document.body.querySelector('.mui-table-view');
			
	        
            document.getElementById('juanhao').addEventListener('keypress',function(e){
	        	if(e.keyCode==13){
	        		var juanhao=this.value.substr(0,this.value.length-1);
					var juanArr=juanhao.split(',');
					var len=juanArr.length;
					var result=juanArr[len-1];
					juanArr.pop();
					var index=$.inArray(result,juanArr);
					if(index>=0){
						mui.alert('该库位已扫描');
						this.value=juanArr.join(',')+',';
						return ;
					}
					var data=getMlDataByKuquId(result);
					if(data){
						doCodeData(data);
					}
					document.activeElement.blur();
	        	}
		    });
			 document.querySelector("#submit").addEventListener("tap",function(){
				
			 });
			mui.plusReady(function(){
				//initMe();
				plus.key.addEventListener('keyup',function(e){
					
				},false);
			});
			function doCodeData(data)
			{
				document.getElementById('kuweiName').value=data[0].kuqu;
				mui.each(data, function(index, item) {
					var str = '';
					str += '<div class="mui-checkbox mui-left">';
					str += '<label class="label_class">缸号:'+item.ganghao+',卷号:'+item.rollNo+',条码：'+item.code+'</label>';
					str +='<input name="select_juan" value="'+item.id+'" type="checkbox" checked></div>';
					var li = document.createElement('li');
					li.className = 'mui-table-view-cell';
					li.id=item.id;
					li.innerHTML = str;
					table.appendChild(li);
				});
				calSum();
			}
			function calSum(){
				var handle=table.getElementsByTagName('input');
//				var sumlength=0;
//				var sumweight=0;
				var sumjuan=0;
				for (var i=0;i<handle.length;i++) {
					if(handle[i].checked){
						sumjuan++;
//						var prevNode=handle[i].parentNode;
//						var lilength=prevNode.getElementsByClassName('length')[0].innerHTML;
//						sumlength=parseFloat(lilength)+sumlength;
//						var liweight=prevNode.getElementsByClassName('weight')[0].innerHTML;
//						sumweight=parseFloat(liweight)+sumweight;
					}
				}
//				document.getElementById('cangkuWeight').innerHTML=sumweight.toFixed(2);
//				document.getElementById('cagnkulength').innerHTML=sumlength.toFixed(2);
				document.getElementById('cangkujuan').innerHTML=sumjuan;
			}
		</script>
	</body>

</html>