<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../css/selectKuwei.css"/>
		<style>
			ul {
				font-size: 14px;
				color: #8f8f94;
			}
			.rukumingxi{
				margin: 1rem 0 1rem 0.9rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">回料入库</h1>
			<button class=" mui-pull-right mui-btn-link"><span class="mui-icon mui-icon-redo"></span></button>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
			    <div class="mui-input-row">
			        <label>入库日期</label>
			    	<input type="date" class="mui-input-clear" name="rukuDate" id="rukuDate">
			    </div>
			    <div class="mui-input-row">
			        <label>仓库类别</label>
			        <input type="text" class="mui-input-clear" id="cangkuId"  placeholder="请选择仓库">
			        <input type="hidden"  id="kuweiId" name="kuweiId" value="">
			    </div>
			    <div class="mui-input-row">
			        <label>库位</label>
			        <input type="text" class="" id="kuquIds" placeholder="请选择库位" >
			        <span class="mui-icon mui-icon-plus-filled" id="mui-icon-plus-filled"></span>
			        <input type="hidden" name="kuquId" id="kuquId" />
			    </div>
			    <div class="mui-input-row">
					<label>入库重量</label>
					<input type="number" class="mui-input-clear" name="weight" id="weight">
					<input type="hidden" class="mui-input-clear"  id="weights">
				</div>
				<div class="mui-input-row">
					<label>备注</label>
					<input type="text" class="mui-input-clear" name="memo" id="memo">
					<input type="text" class="mui-input-clear" name="checkId" id="checkId">
				</div>
				<div class="mui-input-row">
					<label>条码</label>
					<input type="text" class="mui-input-clear" name="juanhao" id="juanhao" value=""/>
				</div>
			    <div class="mui-input-row">
			    	<label>入库信息</label>
			    </div>
				<div id="rukuData">

				</div>
			    <div class="mui-button-row">
			        <button type="button" class="mui-btn mui-btn-primary" id="submit">确认入库</button>
			    </div>
			</form>
		</div>
		<script src="../config.js"></script>
		<script src="../js/mui.js"></script>
		<script type="text/javascript" src="../js/mui.picker.js"></script>
		<script type="text/javascript" src="../js/mui.poppicker.js"></script>
		<script type="text/javascript" src="../js/jquery.1.9.1.js"></script>
		<script src="../js/app.js"></script>
		<script>
			mui.init();
			var picker = new mui.PopPicker();
	        document.getElementById('juanhao').addEventListener('keypress',function(e){
	        	if(e.keyCode==13){
	        		var juanhao=this.value.substr(0,this.value.length-1);
					var juanArr=juanhao.split(',');
					var len=juanArr.length;
					var result=juanArr[len-1];
					juanArr.pop();
					var index=$.inArray(result,juanArr);
					if(index>=0){
						mui.alert('该布卷已扫描');
						this.value=juanArr.join(',')+',';
						return ;
					}
					if(juanArr.length!=0){
						mui.alert('只能单卷入库');
						this.value=juanArr.join(',')+',';
						return ;
					}
					var data=getHuiData(result);
					if(data){
						doCodeData(data);
					}
	        	}
		    });
			 document.querySelector("#submit").addEventListener("tap",function(){
				var rukuDate=document.getElementById('rukuDate').value;
				var kuweiId=document.getElementById('kuweiId').value;
				var kuquId=document.getElementById('kuquId').value;
				var checkId=document.getElementById('checkId').value;
				var weight=document.getElementById('weight').value;
				var weights=document.getElementById('weights').value;
				var memo=document.getElementById('memo').value;
	         	var submitinfo={rukuDate:rukuDate,kuweiId:kuweiId,kuquId:kuquId,checkId:checkId,memo:memo,weights:weights,weight:weight};
				HuiliaoSaveByJuan(submitinfo, function(err) {
					if (err) {
						plus.nativeUI.toast(err);
						return;
					}
				});
			 });
			mui.plusReady(function(){
				initdate('rukuDate');
				selectCangku();
				selectKuwei();
				showKuweiName();
			});
			function doCodeData(data)
			{
				document.getElementById('weights').value=data.weight;
				document.getElementById('checkId').value=data.id;
				str='<div class="mui-input-row rukumingxi" id="'+data.id+'">缸号:<span class="ganghao">'+data.c5+'</span>,长度:<span class="length">'+data.length+'</span>,重量:<span class="weight">'+data.weight+'</span>,卷数:<span class="juan">1</span></div>';
				$('#rukuData').html(str);	
			}
		</script>
	</body>

</html>